body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat-Black', sans-serif;
}
.colored-section {
  padding: 15% 7%;
  background-color: #1e1e1e;
}
.container-title {
  margin: 0;
  padding: 0;
}
/* title section */
.title-section {
  background-color: #1e1e1e;
}

.portrait-img {
  height: 42rem;
  text-align: left;
}

/* text */
.name {
  color: white;
  margin-top: 35%;
  margin-left: 10%;
}
.job-title {
  color: white;
  margin-top: 3%;
  margin-left: 10%;
  font-weight: 100;
  font-size: 1.75rem;
}

/* nav */
.nav-item {
  margin-right: 4%;
  padding: 0;
}

/* conact */
.icon {
  margin-top: 23%;
  margin-left: 33%;
}
.fab,
.fas {
  color: white;
  margin-right: 7%;
  font-size: 1.5rem;
}
.fab:hover,
.fas:hover {
  color: gray;
}
a:hover {
  color: gray;
}

/* about section */

.container-about {
  padding: 10% 7% 15%;
}
.about-header {
  text-align: center;
  font-weight: bold;
}
.about-contents {
  margin-top: 7%;
}
.photo-me {
  height: 20rem;
}
.para {
  margin-top: 5%;
}

/* experience section */
.experience-section {
  padding: 10% 7%;
  background-color: #1e1e1e;
}
.experience-header {
  text-align: center;
  font-weight: bold;
  color: white;
}
.carousel-img {
  height: 4rem;
  width: 5rem;
  margin-bottom: 10%;
}
.experience-text {
  color: white;
  height: 8rem;
}
.carousel-inner {
  margin-top: 5%;
  padding: 0 5%;
}

.company-title-time {
  font-size: 1.15rem;
  margin: 1.5% 0 0 0;
}
.col1 {
  padding: 0;
  width: 5%;
}
.carousel-indicators {
  bottom: -17px;
}
.carousel-control-next-icon {
  margin-left: 20%;
}
.carousel-control-prev-icon {
  margin-right: 80%;
}
